<!DOCTYPE html>
<html ng-app="app">
<head lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
 <meta http-equiv="X-UA-Compatible" content="IE=edge" />
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/admin.css">
<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/ui-bootstrap-tpls-0.13.2.js"></script>
<script type="text/javascript" src="js/services.js"></script>
<script type="text/javascript" src="js/app.js"></script>
<title>Enterprise Admin</title>
</head>
<body ng-controller="AppCtrl">

 <main class="main-content">
  <!--Search bar-->
  <div class="row">
   <div style="width: 67%">
    <div class="input-group">
     <input type="text" class="search form-control" placeholder="Search (by title, url or tag)" ng-model="query">
     <span class="input-group-addon">
      <i ng-show="suggesting" class="glyphicon glyphicon-refresh"></i>
      <i ng-show="!suggesting" class="glyphicon glyphicon-search search-button" ng-click = search()></i>
     </span>
    </div>
   </div>
  </div>
  <!--End search bar-->
  <div class="row mtm">
   <!--Showing data from api-->
   <div class="col-xs-8">
    <div class="row mtm details" ng-repeat="data in websiteData | filter:query">
     <div class="col-xs-2 img">
      <img class="fav-image" ng-src="{{data.favicon_image}}" />
     </div>
     <div class="col-xs-10 website-info">
      <h2 class="title mbm">{{data.title}}</h2>
      <span class="tag">
       <i class="glyphicon glyphicon-tag"></i>
       {{data.tag}}
      </span>
      <span class="elipsis url mlm">
       <i class="glyphicon glyphicon-link"></i>
       <a href="{{data.url_address}}" target="_blank">{{data.url_address}}</a>
      </span>
      <span class="mlm like">
       <i tooltip="Like" class="glyphicon glyphicon-thumbs-up like-icon" ng-click="like(data)"></i>
       <span class="mlm">{{data.likes}}</span>
      </span>
     </div>
    </div>
   </div>
<!--  Form to post website data to server -->
   <div class="col-xs-4">
    <form class="mtm add-website" name="addWebsite_form" novalidate>
     <h2>Contribute/Add Website</h2>
     <div class="row mtm">
      <div class="col-xs-12" ng-class="{'has-error' : (addWebsite_form.$submitted && addWebsite_form.title.$invalid)}">
       <label for="title">Title</label><br/>
       <input class="form-control input-sm" id="title" name="title" ng-model="website.title" placeholder="Title" required>
       <div class="help-block" ng-show="addWebsite_form.$submitted && addWebsite_form.title.$error.required">
        Title is required
       </div>
      </div>
     </div>
     <div class="row mtm">
      <div class="col-xs-12" ng-class="{'has-error' : (addWebsite_form.$submitted && addWebsite_form.url.$invalid)}">
       <label for="url">URL</label><br/>
       <input class="form-control input-sm" id="url" name="url" ng-model="website.url" placeholder="Website/url address" required>
       <div class="help-block" ng-show="addWebsite_form.$submitted && addWebsite_form.url.$error.required">
        URL is required
       </div>
      </div>
     </div>
     <div class="row mtm">
      <div class="col-xs-12" ng-class="{'has-error' : (addWebsite_form.$submitted && addWebsite_form.tag.$invalid)}">
       <label for="tag">Tag</label><br/>
       <input class="form-control input-sm" id="tag" name="tag" ng-model="website.tag" placeholder="Tag" required>
       <div class="help-block" ng-show="addWebsite_form.$submitted && addWebsite_form.tag.$error.required">
        Tag is required
       </div>
      </div>
     </div><br/>
     <button class="btn btn-sm btn-primary" ng-click="addWebsite_form.$valid && saveData()">Submit</button>
    </form>
   </div>
   <!--Form end-->
  </div>
  
 </main>

</body>
</html>